@font-face {
    font-family: 'press_styleregular';
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'bebas_neueregular';
    font-weight: normal;
    font-style: normal;
}


/********************************/
/*       Personal fonts         */
/********************************/

@font-face {
    font-family: 'Baloo Thambi', cursive;
    src: url('https://fonts.googleapis.com/css?family=Baloo+Thambi');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Fugaz One', cursive;
    src: url('https://fonts.googleapis.com/css?family=Fugaz+One');
    font-weight: normal;
    font-style: normal;
}
